@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", "Vazirmatn";

  --breakpoint-xx: 350px;
  --breakpoint-lg: 1130px;

  --color-main: #f0f1f2;
  --color-surface: #ffffff;
  --color-primary: #5661f6;
  --color-text: #111111;
  --color-sub: #a1a0a0;
}
